* {
	margin: 0;
	padding: 0;
}

body {
	font-family: poppin, Tahoma, Arial, \5FAE\8F6F\96C5\9ED1,
sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

#header {
	background-color: #D8B597;
}

.wrap {
	width: 1180px;
	margin: 0 auto;
}

#banner {
	
	background: url(4.jpg) no-repeat center -350px;
	height: 550px;
}
#banner div{
	color: #FFFFFF;
	width: 1180px;
	margin: 0 auto;
	padding-top: 50px;
	text-align: center;
	
}
#banner h2{
	font-size: 60px;
}
#banner p{
	font-size: 24px;
}
#logo {}

#nav {
	float: right;
}

#nav li {
	float: left;
	margin-left: 30px;
	width: 50px;
	height: 50px;
	line-height: 50px;
}

#nav li a {
	color: #fff;
	height: 50px;
	display: block;
	text-align: center;
	text-decoration: none;
}

#nav li a:hover {
	background-color: #8f5f56;
}
#one{
	background-color: #8f5f56;
}
#main {
}

#footer {
	background-color: #D8B597;
	color: #FFFFFF;
	text-align: center;
}

.about {
	background-color: #fefbeb;
}

.skill {
	background-color: #dff9fe;
}

.works {
	background-color: #fefbeb;
}

.experience {
	background-color: #dff9fe;
}

.w1180 {
	width: 1180px;
	margin: 0 auto;
	overflow: hidden;
}

.left {
	float: left;
	width: 400px;
}

.right {
	float: right;
	width: 720px;
	line-height: 30px;
}
.right h2{
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #ccc;
}
.left img {
	width: 400px;
	display: block;
}

.box {
	width: 295px;
	height: 150px;
	float: left;
}

.box img {
	width: 80px;
}

.box .left2 {
	float: left;
	width: 80px;
	line-height: 215px;
}

.box .right2 {
	float: left;
	width: 215px;
	line-height: 150px;
}
